/*Font 및 Color*/
$family: "Apple SD Gothic Neo", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Malgun Gothic","맑은 고딕","돋움",Dotum,"굴림",Gulim,Helvetica,sans-serif;
$bold: normal;
$weight :100; 

$width: 100%;


$white: #ffffff;
$black : #000000;